# Build artifacts
/target
node_modules/
dist/

# Android / Keystore secrets
*.jks*
*.keystore
keystore_b64.txt
*.apk
*.aab

# Environment
.env
.env.*
*.cmake

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Generated docs
docs/

# WiX build artifacts
wix/**/staging/
wix/**/obj/
wix/**/bin/

# Playground pwsl scripts
nuke.ps1

# Temporary
TEMP/
LOGS/

# Local confs
**/*.cmake
# .cargo/config.toml